.imgIcon{
    margin-top: 40px;
    width: 80px;
    height: 80px;
}
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* ou qualquer valor desejado */
}
.textoSpan{
    margin-top: -1.1rem;
    width: var(--larg-padrao);
    display: flex;
    justify-content:flex-end;
    color: var(--cor-texto-sec);
}
.divCheckbox{
    margin-top: 3.5rem;
    display: flex;
    justify-content: baseline;
    width: var(--larg-padrao);
}
.divCheckbox input{
    margin-right: 5px;
    border-radius: 40px !important;
    background-color: var(--cor-secundario) !important;
    border: var(--cor-secundario) !important;
}
.divCheckbox label{
    color: var(--cor-texto-sec);
}
.textSpan{
    color: var(--cor-texto-sec);

}