@import url(calendario.css);
:root{
    --cor-secundario:#f78f06;
    --fundo-janela:#ccc;
    --cor-hover:#d37d0c;
    --larg-padrao: 300px;
    --cor-texto-sec:#777676;
}
a{
    text-decoration: none;
    color: black;
}
.tituloNav{
    display: flex;
    margin-right: 35%;
}
.tituloPrincipal{
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    flex-direction: row;
    flex-wrap:wrap;
}
.tituloPrincipal button{
    background-color: var(--cor-secundario);
    color: #fff;
    margin-right: 2%;
    border-radius: 20px;
    width: 18%;
    border: none;

}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hrIndex{
    width: 90%;
    margin-left: 5%;
}
.imgEsp{
    width: 60px;
}
.endereco{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.iconEnd{
    padding: 5px;
}
.principalDados{
    padding: 5px;
}
.numeroTel{
    display: flex;
    margin-top: -15px;
    color: var(--cor-secundario);
}
.horario{
    padding: 5px;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.horario p{
    margin: 0;
}

.btnPrinc{
    display: flex;
    justify-content: center;
    border-radius: 70px !important;
    text-align: center;
}
.btnAgendamento{
    background-color:  var(--cor-secundario);
    border-radius: 20px;
    width: 90%;
    /* height: 40px; */
    padding: 10px;
    text-align: center;
    color: #fff;
}
.btnAgendamento:hover{
    background-color: var(--cor-hover);
}
.carousel-inner > .carousel-item > img {
    width: 700px;
    height: 400px; 
}